@{
    ViewData["Title"] = "Index";
    ViewData["PageNav"] = "Index";
}

@section Styles
    {
    <link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
}

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="float-left">
                        <h3 class="card-title">Currently Available Teachers</h3>
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <a asp-action="create" asp-controller="teachers" class="btn btn-outline-info btn-sm">Add Teacher<i class="fa fa-plus ml-2"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <!-- /.card -->
        <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body">
                <table id="course-datatable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Telephone</th>
                            <th style="width:20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Telephone</th>
                            <th style="width:20%">Action</th>
                        </tr>
                    </tfoot>
                </table>
                <partial name="_DeletePopUpPartial" />
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    @section Scripts
    {
    <script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#course-datatable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/teachers/getteachers",
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/teachers/edit/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ]
            });
            $('#course-datatable').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/teachers/delete");
                modal.modal('show');
            });
            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });
        });
    </script>
}

